@import "../../styles/breakpoints";

.container {
  grid-area: header;
  display: flex;
  column-gap: 1em;
  justify-content: flex-start;

  margin-bottom: var(--spacer-xl);
  padding: var(--spacer-m);
  -webkit-box-shadow: 0px 10px 26px -8px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 10px 26px -8px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 26px -8px rgba(0, 0, 0, 0.09);

  @media only screen and (max-width: $sm) {
    flex-direction: column;
  }
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > nav {
  display: flex;
  align-items: center;

  @media only screen and (max-width: $sm) {
    padding-top: var(--spacer-s);
    justify-content: flex-end;
  }
}

.userTaste {
  width: 100%;
}

.userTaste h2 {
  color: var(--primary-semidark);
  font-size: var(--font-header-l-size);
  text-align: center;

  @media only screen and (max-width: $sm) {
    font-size: var(--font-header-m-size);
  }
}
