@import "../../styles/breakpoints";

.container {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1em;

  padding: var(--spacer-m);
  -webkit-box-shadow: 0px 10px 26px -8px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 10px 26px -8px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 26px -8px rgba(0, 0, 0, 0.09);
  background-color: white;

  @media only screen and (max-width: $sm) {
    flex-direction: column;
  }
}

.container div {
  flex: 1;
}

.brand {
  display: block;
}

.userTaste {
  display: flex;
  justify-content: center;
}

.userTaste h2 {
  color: var(--secondary-main);
  font-size: var(--font-header-l-size);
  text-align: center;
}

.sessionActions {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: $sm) {
    padding-top: var(--spacer-s);
    justify-content: flex-end;
  }
}
