.container {
  border-radius: var(--rd-m);
  overflow: hidden;

  display: flex;
  background-color: var(--primary-light);

  border: 3px solid var(--primary-dark);
}

.content {
  padding: var(--spacer-m);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.imgContainer {
  width: 100px;
  height: 100px;
}

.imgContainer img {
  width: 100px;
  height: 100px;
}
