.container {
  overflow: hidden;

  width: 100%;
  height: 100px;
  display: flex;
}

.container:not(:first-child) {
  margin-top: var(--spacer-m);
}

.rightHand {
  padding: var(--spacer-m);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.leftHand {
  width: 100px;
  height: 100px;
}

.leftHand img {
  width: 100px;
  height: 100px;
}
