@import "../../../styles/components";

.container:not(:first-child) {
  margin-top: var(--spacer-m);
}

.playlistCard {
  border: 3px solid var(--primary-dark);
  border-radius: var(--rd-m);
}

.info h5 {
  margin-bottom: var(--spacer-xs);
  font-size: var(--font-header-m-size);
  -webkit-line-clamp: 1;
  @include clamp;
}

.info p {
  margin-bottom: var(--spacer-s);
  font-size: var(--font-paragraph-s-size);
  color: var(--primary-semidark);

  -webkit-line-clamp: 1;
  @include clamp;
}

.info span {
  display: flex;
  align-items: center;

  color: var(--info);
}

.info svg {
  fill: var(--secondary-main);
  margin-right: var(--spacer-s);
}
