@import "../../styles/components";
@import "../../styles/breakpoints";

.container {
  width: 50%;
  margin-bottom: var(--spacer-l);

  @media only screen and (max-width: $lg) {
    width: 100%;
  }
}

.header {
  padding: var(--spacer-l) 0;
}

.container header h2 {
  @include header-text;
}

.load {
  text-align: center;
  margin-top: var(--spacer-m);

  @media only screen and (max-width: $sm) {
    & > button {
      width: 100%;
    }
  }
}
