@import "../../styles/components";
@import "../../styles/breakpoints";

.container {
  width: 49%;

  @media only screen and (max-width: $lg) {
    width: 100%;
  }
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header h2 {
  @include header-text;
}

.chart {
  height: 340px;
  width: 100%;
}
