@import "../../styles/breakpoints";

.container main {
  padding: 0 2em;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $lg) {
    max-width: 998px;
  }

  @media only screen and (max-width: $sm) {
    padding: 0 1em;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 0 2em;

  @media only screen and (max-width: $lg) {
    flex-direction: column;
    gap: 1em 0;
  }

  @media only screen and (max-width: $sm) {
    flex-direction: column-reverse;
  }

  &:not(:first-child) {
    margin-top: 2em;
  }
}
