.signin button {
  font-family: var(--font-header-family);
  border: none;
  border-radius: 50px;
  padding: var(--spacer-m) var(--spacer-l);
  background-color: var(--secondary-semidark);

  color: white;
  font-weight: bold;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    background-color: var(--secondary-main);
  }
}

.signin svg {
  margin-right: var(--spacer-s);
}
