.hover {
  display: flex;
  flex-direction: row-reverse;
  z-index: 20;
}

.icon > svg {
  fill: var(--primary-dark);
  opacity: 0.4;
}

.hover:hover > .overContainer {
  display: inline;
}

.overContainer {
  display: none;
  position: absolute;
}

.over {
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: var(--rd-m);
  backdrop-filter: blur(4px);
  position: relative;
  right: 20px;
  width: 250px;
  padding: 10px;
}

.over span {
  color: var(--secondary-light);
  font-weight: bold;
}

.over p {
  color: var(--secondary-semilight);
  margin-top: 0.5em;
}
