@import "../../styles/components";
@import "../../styles/breakpoints";

.container {
  width: 100%;

  &:not(:first-child) {
    margin-bottom: var(--spacer-m);
  }
}

.container header h2 {
  @include header-text;
}

.list {
  list-style-position: inside;
  color: var(--primary-dark);
  font-size: var(--font-paragraph-m-size);
}

.list li {
  &:not(:first-child) {
    margin-top: 1em;
  }

  @media only screen and (max-width: $sm) {
    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }
}

.list li::marker {
  color: var(--secondary-semilight);
  font-size: var(--font-header-l-size);
  font-weight: var(--font-header-weight);
}

.headerSkeleton {
  @media only screen and (max-width: $sm) {
    width: 100px;
  }
}
