@import "../../styles/breakpoints";

.topItems {
  display: flex;
  width: 50%;
  gap: 0 1em;

  @media only screen and (max-width: $lg) {
    width: 100%;
  }

  @media only screen and (max-width: $sm) {
    flex-direction: column-reverse;
    gap: 1em 0;
  }
}
