@import "../../styles/breakpoints";

.container {
  display: inline-flex;
}

.brand {
  height: 70px;
  width: 70px;

  display: block;
  @media only screen and (max-width: $sm) {
    height: 40px;
    width: 40px;
  }
}
