@import "./breakpoints";

@mixin header-text {
  font-size: var(--font-header-l-size);
  color: var(--secondary-main);
  margin-bottom: 0.5em;
}

@mixin clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
