.discover {
  padding: 2em;
  background-color: #171a18;
  color: #f7fcf9;
}

.discover h2 {
  color: white;
  font-size: 34px;
}

.discover header {
  background: rgb(151, 202, 235);
  background: radial-gradient(
    circle,
    rgba(151, 202, 235, 1) 8%,
    rgba(118, 218, 172, 1) 18%,
    rgba(157, 198, 176, 1) 34%,
    rgba(169, 190, 241, 1) 53%,
    rgba(208, 159, 168, 1) 66%,
    rgba(219, 175, 123, 1) 77%,
    rgba(246, 255, 128, 1) 100%
  );
  padding: 0.5em 2em;
  text-align: center;
  margin-bottom: 40px;
  transform: skew(-5deg, -3deg);
  border-top: 5px double white;
  border-bottom: 5px double white;
  border-radius: 8px;
}
